<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ad-800/hipster_shit"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This hipstershit is made with <i class="fas fa-heart"></i> at Le Wagon (Batch #947)
  </div>
</div>
