<div class="container-fluid margin-top mt-5">
  <div class="row" style="height: 100vh">
    <div class="home-l col-xs-12 col-lg-6">
      <div class="d-flex justify-content-center half mt-5 mb-5">
        <div>
          <h1 class="margin-big">hipster shit</h1>
          <p>From wide-rimmed glasses and vintage fanny-packs to tiny cacti and cassette tapes, shop here for all your hip shit needs.</p>
          <%= link_to "start browsing", products_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>

    <div class="home-r col-xs-12 col-lg-6">
      <div class="margin-big d-flex justify-content-center">
        <%= image_tag "shopping.svg", class: "landing-image mt-5 mb-5" %>
      </div>
    </div>
  </div>
</div>
