<div class="home-description split">
  <div class="centered">
    <h1>hipster shit</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto eos soluta ipsum optio nesciunt ut. Provident laboriosam.</p>
    <button type="button" class="btn btn-warning">Start Browsing</button>
  </div>
<div class="home-image split">
  <div class="centered">
    <img src = "../../app/assets/images/shopping.svg" alt="SVG of shopper"/>
  </div>
</div>
