<div class="container-fluid checkout-border">
  <div class="home-description splithome">
    <div class="centered-home">
      <h1>hipster shit</h1>
      <p>From wide-rimmed glasses and vintage fanny-packs to tiny cacti and cassette tapes, shop here for all your hip shit needs.</p>
      <%= link_to "Start Browsing", products_path, class: "btn btn-success" %>
    </div>
  <div class="home-image splithome">
    <div class="centered-home">
      <%= image_tag "shopping.svg", class: "landing-image" %>
    </div>
  </div>
</div>
