<div class="home-description split">
  <div class="centered">
    <h1>hipster shit</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto eos soluta ipsum optio nesciunt ut. Provident laboriosam.</p>
    <%= link_to "Start Browsing", products_path, class: "btn btn-warning" %>
  </div>
<div class="home-image split">
  <div class="centered">
    <%= image_tag "shopping.svg", class: "landing-image" %>
  </div>
</div>
