.navbar-lewagon {
  justify-content: space-between;
  background: white;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;

  &:hover {
    box-shadow: none;
    border: white;
  }
}

.search-form-control .form-control {
  height: 3.5rem;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 8px solid black;
  background-color: #FFFFFF;
}
