<h1>Products#index</h1>

<ul>
  <% @products.each do |product| %>
  <li>
    <%= link_to product.title, product_path(product) %>
  </li>
  <% end %>
</ul>

<%= link_to "Add a new product", new_product_path %>
